<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="card">
      <div class="card-body">
        <div class="md-form">
          <input type="text" id="user" class="form-control">
          <label for="user">Usuario</label>
        </div>
        <div class="md-form">
          <input type="password" id="pasword" class="form-control">
          <label for="pasword">Contraseña</label>
        </div>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </div>
    </div>
  </div>
</div>