.card {
  width: 300px;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  position: fixed;
  z-index: 1;
  display: block;
  background-image: url('../../../assets/fondo.png');
  width: 102%;
  height: 103%;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}